:root {
  --width: 76em;
  --left-margin: 1em;
  --bottom-margin: 2em;

  --bg-color: #0f0f0f;
  --bg-gradient-color: #303030;
  --text-color: #ddd;
  --link-color: #ff0000;
  --link-outgoing-indicator-color: #bbb;
  --visited-link-color: #af0000;
  --button-bg-color: #282828;
  --button-text-color: #ff0000;
  --block-text-color: #bbb;
  --block-bg-color: #222;
  --block-border-color: #333;
  --font: "IA Writer Mono";
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
  font-family: var(--font);
  margin-left: var(--left-margin);
  max-width: var(--width);
  position: relative;
  margin-bottom: var(--bottom-margin);

  background-image: linear-gradient(90deg, var(--bg-color), var(--bg-gradient-color));
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: 40vw;
}

blockquote {
  text-align: center;
  vertical-align: top;
  text-decoration: none;
}

button {
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  font-family: var(--font);
}

div.block {
  width: 60em; /* rahhhh ems are so useful */
  padding-left: 1em;
  background-color: var(--block-bg-color);
  border-style: dotted;
  border-color: var(--block-border-color);
  color: var(--block-text-color);
}

a[target="_blank"]:not(.noindicator):after {
  content: "🡵";
  display: inline-block;
  height: 0.5em;
  padding-inline: 0.2em;
  aspect-ratio: 1;
  line-height: 1.5;
  vertical-align: text-top;
  font-size: 0.7em;
  color: var(--link-outgoing-indicator-color);
}

a:visited {
  color: var(--link-color)
}

a[target="_blank"]:visited {
  color: var(--visited-link-color);
}

.redacted,
a:link,
.red {
  color: var(--link-color)
}

img {
  max-width: 100%;
  height: auto;
  width: auto;
}

ol li {
  list-style-type: none;
  counter-increment: list;
  position: relative;
}

ol li:after {
  content: counter(list) ".";
  position: absolute;
  left: -2.5em;
  width: 2em;
  text-align: right;
  color: white;
}

ul li {
  list-style-type: none;
  counter-increment: list;
}

ul li:before {
  content: "- ";
  color: white;
}

footer {
  text-align: center;
  color: white;
}

header {
  text-align: left;
  color: white;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  white-space: nowrap;
}

th {
  border-color: #d0d0d0;
  border-style: solid;
  border-width: 1px;

  font-weight: bold;
  overflow: hidden;
  padding: 10px 8px;
  word-break: normal;
  white-space: nowrap;
}

td {
  text-align: center;
  vertical-align: center;
  text-decoration: none;

  border-color: #d0d0d0;
  border-style: solid;
  border-width: 1px;

  overflow: hidden;
  padding: 10px 8px;
  word-break: normal;
  white-space: nowrap;
}

code {
  background-color: var(--block-bg-color);
  font-family: var(--font);
}

.indexfooter {
  padding-bottom: 1em;
  display: flexbox;
  justify-content: center;
  align-items: center;
}

.bottom {
  position: fixed;
  bottom: 0px;
  max-width: var(--width);
}

.blink {
  -webkit-animation: 1s linear infinite condemned_blink_effect;
  /* for Safari 4.0 - 8.0 */
  animation: 1s linear infinite condemned_blink_effect;
}

.fastblink {
  -webkit-animation: 0.5s linear infinite condemned_blink_effect;
  /* for Safari 4.0 - 8.0 */
  animation: 0.5s linear infinite condemned_blink_effect;
}

.centerbox {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.flipimage {
  transform: scaleX(-1);
}

.inlineimage {
  height: 2em;
  vertical-align: text-bottom;
}

.emoji {
  height: 3em;
}

.footer-flags-etc {
  max-height: 3em;
}

.no-antialiasing {
  image-rendering: optimizeSpeed;
  image-rendering: pixelated;
}

.constrain-8831 {
  width: 88px;
  height: 31px;
}

/* fonnnnts */

@font-face {
  font-family: xythese;
  src: url("../font/xythese-3x5.ttf");
}

@font-face {
  font-family: "IA Writer Mono";
  src: url("../font/ia_writer_mono/ia-writer-mono-latin-400-normal.woff2");
  font-weight: normal;
}

@font-face {
  font-family: "IA Writer Mono";
  src: url("../font/ia_writer_mono/ia-writer-mono-latin-700-normal.woff2");
  font-weight: bold;
}

@font-face {
  font-family: "IA Writer Mono";
  src: url("../font/ia_writer_mono/ia-writer-mono-latin-400-italic.woff2");
  font-style: italic;
}

@font-face {
  font-family: "IA Writer Mono";
  src: url("../font/ia_writer_mono/ia-writer-mono-latin-700-italic.woff2");
  font-weight: bold;
  font-style: italic;
}


.xythese {
  font-family: xythese;
}



/* for Safari 4.0 - 8.0 */
@-webkit-keyframes condemned_blink_effect {
  0% {
    visibility: hidden;
  }

  50% {
    visibility: hidden;
  }

  100% {
    visibility: visible;
  }
}

@keyframes condemned_blink_effect {
  0% {
    visibility: hidden;
  }

  50% {
    visibility: hidden;
  }

  100% {
    visibility: visible;
  }
}

.rainbow {
  background: linear-gradient(to right,
      #ff0000,
      #ff8c00,
      #fffb00,
      #00ff11,
      #0084ff,
      #a200ff,
      #ff00ea,
      #ff0000);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 3s linear infinite;
  background-size: 45em 100%;
}

@keyframes rainbow_animation {
  0% {
    background-position: 0% 0;
  }

  100% {
    background-position: 46em 0;
  }
}
